<h1>Hola Miguel,</h1>
<p>Un nuevo usuario ha ingresado a uvaguayavanes.com y te ha dejado el siguiente mensaje.</p>
<p>Asunto: <%= @subject %></p>
<p>Nombre: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>Mensaje: <%= @message %></p>

<p>Chao!</p>