<h1>Bienvenidos al sistema de registro de apartamentos</h1>
<table>
	<tr>
		<th>NUM_PISO --</th>
		<th>ASENSOR --</th>
		<th>AREA --</th>
		<th>NUM_BAÑOS --</th>
		<th>BALCON</th>
	</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= user.num_floor %></td>
		<td><%= link_to "Editar", edit_user_path(user) %></td>
		<td><%= link_to "Agregar un nuevo apartamento", edit_user_path(user) %></td>
		<td><%= link_to "Eliminar", user_path(user), method: :delete, data:{confirm:"Estas Seguro"} %></td>
	</tr>
</table>
<% end %>