<h1>REGISTRO USUARIOS</h1>

<!--Esta etiqueta evalua las cosas pero no lo imprime dentro de la pagina web-->
<%  %>

<!--Esta etiqueta imprime cosas-->
<%=  %>

<%= link_to "Ingrese Usuarios",new_user_path %>
