<h1>CIUDADELA EL VALLE</h1>
<form>
	<label>Ingrese Huespedes</label><br>
	<input type="text" name=""><br>
	<label>Ingrese Porteros</label><br>
	<input type="text" name=""><br>
	<label>Ingrese Torres</label><br>
	<input type="text" name=""><br>
	<label>Ingrese Apartamentos</label><br>
	<input type="text" name=""><br>
</form>
<p>Find me in app/views/welcome/index.html.erb</p>
